.mobile-container,
.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.mobile-container {
  margin-top: 1.2em;
}

.home-path {
  font-size: 1.2rem;
}

.home-path span {
  font-weight: 600;
}

.nav-links a {
  font-weight: 500;
  font-family: Oxanium, sans-serif;
}
.home-path:active,
.toggle-button:active,
.nav-links a:active {
  color: #a855f7;
}

.mobile-navbar {
  display: none;
}

.mobile-navbar.open {
  display: block;
}

.toggle-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.open {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.mobile-header {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile-header {
    display: block;
  }
}
