.pc-navbar {
  display: block;
}

.navBar {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 80vw;
  height: 12vh;
  align-items: center;
  justify-content: space-between;
}
.namePage {
  font-size: 2.25rem;
  line-height: 1.5;
  color: #ffffff;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 75ms;
}

.namePage span {
  font-weight: 600;
}

.namePage:hover,
.navPages:hover {
  color: #a855f7;
}

.navPages {
  font-family: Oxanium, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 75ms;
  padding: 0 2rem 0 0;
}

/*Doesn't show  navbar for smartphones*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .pc-navbar {
    display: none;
  }
}

/*Tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .namePage {
    font-size: 1.4rem;
  }

  .navPages {
    font-size: 1rem;
  }
}

/*Laptops*/
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .namePage {
    font-size: 1.6rem;
  }

  .navPages {
    font-size: 1rem;
  }
}
