.pc-navbar {
  display: block;
}
.namePage {
  font-size: 2.25rem;
  line-height: 1.5;
  color: #ffffff;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 75ms;
}

.namePage span {
  font-weight: 600;
}

.namePage:hover,
.navPages:hover {
  color: #a855f7;
}
.navPages {
  font-family: Oxanium, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: 75ms;
}

@media only screen and (max-width: 480px) {
  .namePage {
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    transition-delay: 75ms;
    color: #ffffff;
    margin: 0 -0.75rem 0 -0.75rem;
    display: block;
    border-radius: 0.5rem;
    padding: 0.625rem 0.75rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.75;
  }
  .namePage,
  .navPages:hover {
    color: #a855f7;
  }
}

@media only screen and (max-width: 768px) {
  .pc-navbar {
    display: none;
  }
}
