iframe.hidden {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

@media (max-width: 480px) {
  /* Styles for smartphones in portrait mode */
  .container-margin {
    margin-top: 1.5rem;
  }

  iframe {
    width: 95%;
    height: 430px;
  }
}
